.dashboard-layout {
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.dashboard-layoutWrapper {
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main-content {
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: flex;
  justify-content: end;
}

/* .dashboard-layout {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.dashboard-layoutWrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

.main-content {
  flex: 1;
} */
